@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles for Dark and Light Modes */
html,
body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;

}

body.dark-theme {
  background-color: #181824;
  color: #e4e4e7;
}

body.light-theme {
  background-color: #f9f9f9;
  color: #181824;
}


.dark-theme .header_img {
  background: url("../../public/images/bg-desktop-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.light-theme .header_img {
  background: url("../../public/images/bg-desktop-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.checkedLinearGradient {
  background-image: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/* Dark Theme */
.dark-theme {
  background: hsl(235, 21%, 11%);
}

/* Light Theme */
.light-theme {
  background-color: hsl(236, 33%, 92%);
}

/* Adjust input and button styles for each theme */
.dark-theme .input-bg{
  color: #e4e4e7;
  background-color: hsl(235, 24%, 19%);
}

.light-theme .input-bg{
  color: #181824;
  background-color: white;
}



.light-theme .taskFilter:hover{
  color: #000;
}

.dark-theme .taskFilter:hover{
  color: #fff;
}

.light-theme .taskText{
  color: hsl(233, 14%, 35%);
}

.dark-theme .taskText{
  color: hsl(234, 39%, 85%);
}

.border-checked-gradient {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 9999px; /* For full circular borders */
  width: 100%; /* Ensure proper sizing */
  height: 100%;
  mask: border-box;
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
}
